NEXT_PUBLIC_SUPABASE_URL=YOUR_SUPABASE_URL
NEXT_PUBLIC_SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY
SUPABASE_SERVICE_ROLE_KEY=YOUR_SUPABASE_SERVICE_ROLE_KEY
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=YOUR_GOOGLE_MAPS_API_KEY

# WhatsApp API (Meta)
WHATSAPP_TOKEN=YOUR_META_ACCESS_TOKEN
WHATSAPP_PHONE_ID=YOUR_WHATSAPP_PHONE_ID
